<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Titolo">
      <mat-error *ngIf="form.get('title').invalid">Inserire il campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field>
    <textarea
      matInput
      rows="6"
      formControlName="content"
      placeholder="Contenuto"
     >
    </textarea>
      <mat-error *ngIf="form.get('content').invalid">Inserire il campo richiesto</mat-error>
    </mat-form-field>
    <div class="footer-card">
      <button
        matTooltip="Aggiungi un'immagine"
        mat-icon-button
        type="button"
        (click)="filePicker.click()">
        <mat-icon>insert_photo</mat-icon>
      </button>
      <button
          mat-raised-button
          color="primary"
          type="submit"> Salva!
        </button>
    </div>
  </form>
</mat-card>

<mat-card>
  <input type="file" #filePicker (change)="onImagePicked($event)">
  <div class="image-preview" *ngIf="!!imagePreview && form.get('image').valid">
    <img [src]="imagePreview" [alt]="form.value.title" >
  </div>
  <div class="image-preview" *ngIf="!imagePreview && form.value.image">
    <img [src]="form.value.image">
  </div>
</mat-card>

