
mat-form-field,
textarea {
  width: 100%;
}

mat-card{
  margin: 1em auto;
}

mat-spinner{
  margin: auto;
}

.footer-card{
  /* needed styles below */
  display: flex;
  justify-content: space-between;
}

input[type="file"]{
  display: none;
}

.image-preview{
  height: 20rem;
  margin: 1rem 0;
  justify-content: center;
}

.image-preview img {
  height: 100%;
  border-radius: 5%;
  display: block;
  margin: auto;
}
