<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
      />
      <mat-error *ngIf="emailInput.invalid">Inserire un'email valida.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput
        placeholder="Password"
        ngModel
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">Password errata.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput
        placeholder="Ripeti la password"
        ngModel
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">Password errata.</mat-error>
    </mat-form-field>
    <div align="right">
      <button color="warn" mat-button type="submit">
        Login
      </button>
    </div>
  </form>
</mat-card>
