<mat-toolbar color="primary">
  <span><a routerLink="/">Home</a></span>
  <span class="spacer"></span>
  <span *ngIf="userIsAutheticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
  </span>
  <span *ngIf="!userIsAutheticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
  </span>
  <span *ngIf="!userIsAutheticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">SignUp</a>
  </span>
  <span *ngIf="userIsAutheticated" (click)="onLogout()">
      <a mat-button>Logout</a>
  </span>

</mat-toolbar>
