:host{
  display: block;
  margin: auto;
}

mat-spinner{
  margin: auto;
}

.post-image{
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator{
  margin-top: 1rem;
}
